﻿
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @{
            JSRuntime.InvokeVoidAsync("CSLoaderFadeInFromApp");
        }
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <CricketBet.Pages.Page404 />
        </LayoutView>
    </NotFound>
</Router>
