﻿@using System.ComponentModel.DataAnnotations;
<div class="modal fade bd-example-modal-lg" id="testmonialModel" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">@popuptype Faq</h5>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <EditForm Model="@model" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-4 col-lg-4">
                            <label for="cname">Question<span class="astick">*</span></label>
                            <InputText maxlength="1000" @bind-Value="@model.faq_question" type="text" class="form-control" id="sname" placeholder="Question" />
                            <ValidationMessage For="@(() => model.faq_question)" />
                        </div>
                        <div class="form-group mb-4 col-lg-12">
                            <label for="cname">Answer<span class="astick">*</span></label>
                            <textarea maxlength="100" name="contentval" @bind="@model.faq_answer" type="text" class="form-control" placeholder="Content" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save</button>
                    <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>



@code {
    [Parameter] public string popuptype { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public FaqData model { get; set; }


    protected override void OnInitialized()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("CSBindFaqCkeditor");
        }
        //JSRuntime.InvokeVoidAsync("CSBindFaqCkeditor");
        JSRuntime.InvokeVoidAsync("CSShowModel", "testmonialModel");
    }

    protected void HandleInvalidSubmit()
    {
    }
}
