﻿@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime

<div class="modal fade bd-example-modal-lg" id="addMoneyModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Add Coin</h5>
                <button type="button" @onclick="@OnCancel" class="close" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <EditForm Model="@wallet" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group mb-6 col-lg-6">
                            <label for="match_status">Coin<span class="astick">*</span></label>
                            <InputText oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="18" id="venue" @bind-Value="wallet.amount" type="text" name="venu" placeholder="Enter Coin" class="form-control" />
                            <ValidationMessage For="@(() => wallet.amount)" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Add Coin</button>
                    <button type="button" @onclick="@OnCancel" class="btn"><i class="flaticon-cancel-12"></i> Close</button>
                </div>

            </EditForm>
        </div>
    </div>

</div>



@code {
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public WalletTopUpAdd wallet { get; set; }


    protected override void OnInitialized()
    {

    }


    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSShowModel", "addMoneyModel");
    }

    protected void HandleInvalidSubmit()
    {
    }
}