﻿@page "/quiz"
@page "/quiz/{param}"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager navigationmanager;
@using CB_Utilities;

<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        @if (resObject.ResultData.Count > 0)
                        {
                            <h4>Edit Quiz Question</h4>
                        }
                        else
                        {
                            <h4>Add Quiz Question</h4>
                        }

                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <EditForm Model="@_resModel" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-12 col-lg-12">
                                <label for="venue">Question<span class="astick">*</span></label>
                                <InputText maxlength="499" id="venue" @bind-Value="_resModel.question" type="text" name="Question" placeholder="Enter Question" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.question)" />
                            </div>
                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Option 1<span class="astick">*</span></label>
                                <InputText maxlength="99" id="venue" @bind-Value="_resModel.option1" type="text" name="Question" placeholder="Enter Option 1" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.option1)" />
                            </div>
                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Option 2<span class="astick">*</span></label>
                                <InputText maxlength="99" id="venue" @bind-Value="_resModel.option2" type="text" name="Question" placeholder="Enter Option 2" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.option2)" />
                            </div>

                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Option 3<span class="astick">*</span></label>
                                <InputText maxlength="99" id="venue" @bind-Value="_resModel.option3" type="text" name="Question" placeholder="Enter Option 3" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.option3)" />
                            </div>
                            <div class="form-group mb-6 col-lg-4">
                                <label for="venue">Option 4<span class="astick">*</span></label>
                                <InputText maxlength="99" id="venue" @bind-Value="_resModel.option4" type="text" name="Question" placeholder="Enter Option 4" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.option4)" />
                            </div>

                            <div class="form-group mb-4 col-lg-3">
                                <label for="match_status">Choose Correct Option<span class="astick">*</span></label>
                                <InputSelect class="form-control" id="match_status" name="match_status" @bind-Value="_resModel.answer">
                                    <option value="">Select Option</option>
                                    <option value="a">Option 1</option>
                                    <option value="b">Option 2</option>
                                    <option value="c">Option 3</option>
                                    <option value="d">Option 4</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => _resModel.answer)" />
                            </div>
                        </div>
                    </div>
                    @if (resObject.ResultData.Count > 0)
                    {
                        <div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Update Question" value="Update Question" class="btn btn-primary" />
                        </div>
                    }
                    else
                    {
                        <div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Add Question" value="Add Question" class="btn btn-primary" />
                        </div>
                    }
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter] public string param { get; set; }

    ResultObject<List<Tbl_QuizAdmin>> resObject;
    Tbl_QuizAdmin _resModel;
    CBAdmin _CBAdmin;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _CBAdmin = new CBAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        _resModel = new Tbl_QuizAdmin();
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }

        resObject = _CBAdmin.quizMaster("viewqaid", param);
        if (resObject.ResultData.Count > 0)
        {
            _resModel = resObject.ResultData.FirstOrDefault();
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Quiz" });
    }

    void OnConfirm()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        res1 = _CBAdmin.editQuizMaster("updateqa", "", _resModel);
        if (res1.ResultMessage == "Success")
        {
            if (resObject.ResultData.Count > 0)
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Question updated successfully.");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Question added successfully.");
            }
            navigationmanager.NavigateTo("quizlist");
        }
        else if (res1.ResultMessage == "Question Already Exists")
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res1.ResultMessage);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            resObject = new ResultObject<List<Tbl_QuizAdmin>>();
            _resModel = new Tbl_QuizAdmin();
            StateHasChanged();
        }
    }

    protected void HandleInvalidSubmit()
    {

    }


}
