﻿@page "/matchschedule"
@page "/matchschedule/{param}"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager navigationmanager;
@using CB_Utilities;
<div class="container term-form">
    <div class="col-lg-12 col-12 p-0">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        @if (resObject.ResultData.Count > 0)
                        {
                            <h4>Edit Match Schedule</h4>
                        }
                        else
                        {
                            <h4>Create Match Schedule</h4>
                        }

                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <EditForm Model="@_resModel" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group mb-6 col-lg-4">
                                <label for="tournament">Select Tournament<span class="astick">*</span></label>
                                <InputSelect ValueExpression="@(()=>_resModel.tournament_id)" Value="@_resModel.tournament_id"
                                             ValueChanged="@((string value) => OnValueChanged(value ))" class="form-control" id="tournament" name="tournament">
                                    <option value="">Select</option>
                                    @foreach (var tournamentdata in Tbl_Tournaments.ResultData)
                                    {
                                        if (tournamentdata.tournament_id.ToString() == _resModel.tournament_id)
                                        {
                                            <option value="@tournamentdata.tournament_id">@tournamentdata.tournament_name</option>
                                        }
                                        else
                                        {
                                            <option value="@tournamentdata.tournament_id">@tournamentdata.tournament_name</option>
                                        }

                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => _resModel.tournament_id)" />
                            </div>
                            <div class="form-group mb-6 col-lg-4">
                                <label for="home_team">Select Home Team<span class="astick">*</span></label>
                                <InputSelect class="form-control form" id="home_team" name="home_team" @bind-Value="_resModel.home_team_id">
                                    <option value="">Select</option>
                                    @if (Tbl_Teams.ResultData != null)
                                    {
                                        foreach (var tournamentdata in Tbl_Teams.ResultData)
                                        {
                                            <option value="@tournamentdata.team_id">@tournamentdata.team_name</option>
                                        }
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => _resModel.home_team_id)" />
                            </div>
                            <div class="form-group mb-6 col-lg-4">
                                <label for="away_team">Select Away Team<span class="astick">*</span></label>
                                <InputSelect class="form-control form" id="away_team" name="away_team" @bind-Value="_resModel.away_team_id">
                                    <option value="">Select</option>
                                    @if (Tbl_Teams.ResultData != null)
                                    {
                                        foreach (var tournamentdata in Tbl_Teams.ResultData)
                                        {
                                            <option value="@tournamentdata.team_id">@tournamentdata.team_name</option>
                                        }
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => _resModel.away_team_id)" />
                            </div>

                            <div class="col-xl-12 padding_top_brokege pt-0">
                                <h5 class="float-left main_headings" style="margin-top:15px; font-weight:bold">Configure Match Odds</h5>
                            </div>
                            <div class="form-group mb-6 col-lg-4">
                                <label for="odds_home_team">Home Team Odds</label>
                                <input maxlength="18" id="odds_home_team" @bind="_resModel.oddHomeTeam" type="number" min="0" step="any" name="odds_home_team"
                                       placeholder="Enter Value" class="form-control" data-validate="false"/>
                                <ValidationMessage For="@(() => _resModel.oddHomeTeam)" />
                            </div>
                            <div class="form-group mb-6 col-lg-4">
                                <label for="odds_away_team">Away Team Odds</label>
                                <input maxlength="18" id="odds_away_team" @bind="_resModel.oddAwayTeam" type="number" min="0" step="any" name="odds_away_team"
                                       placeholder="Enter Value" class="form-control" data-validate="false"/>
                                <ValidationMessage For="@(() => _resModel.oddAwayTeam)" />
                            </div>

                            <div class="col-xl-12 padding_top_brokege pt-0">
                                <h5 class="float-left main_headings" style="margin-top:15px; font-weight:bold">Match Details</h5>
                            </div>
                            <div class="form-group mb-6 col-lg-3">
                                <label for="dateTimeFlatpickr">Match Date<span class="astick">*</span></label>
                                <InputDate @bind-Value="_resModel.match_date" onkeydown="return false" id="matchdate" class="form-control flatpickr flatpickr-input active"
                                           placeholder="Match Date-Time" />
                                <ValidationMessage For="@(() => _resModel.match_date)" />
                            </div>
                            <div class="form-group mb-6 col-lg-3">
                                <label for="dateTimeFlatpickr">Match Time<span class="astick">*</span></label>
                                <input type="time" @bind="_resModel.match_time" id="matchtime" class="form-control"
                                       placeholder="Match Date-Time" />
                                <ValidationMessage For="@(() => _resModel.match_time)" />
                            </div>
                            <div class="form-group mb-6 col-lg-3">
                                <label for="venue">Match Venue<span class="astick">*</span></label>
                                <InputText maxlength="199" id="venue" @bind-Value="_resModel.venue" type="text" name="venu" placeholder="Enter Venue" class="form-control" />
                                <ValidationMessage For="@(() => _resModel.venue)" />
                            </div>

                            <div class="form-group mb-4 col-lg-3">
                                <label for="match_status">Match Status<span class="astick">*</span></label>
                                @if (resObject.ResultData.Count > 0)
                                {
                                    @if (_resModel.match_status == "2" || _resModel.match_status == "3")
                                    {
                                        <InputSelect disabled class="form-control" id="match_status" name="match_status" @bind-Value="_resModel.match_status">
                                            <option value="">Match Status</option>
                                            <option value="0">Yet to Start</option>
                                            <option value="1">Live</option>
                                            <option value="2">Complete</option>
                                            <option value="3">Draw</option>
                                        </InputSelect>
                                    }
                                    else
                                    {
                                        <InputSelect class="form-control" id="match_status" name="match_status" @bind-Value="_resModel.match_status">
                                            <option value="">Match Status</option>
                                            <option value="0">Yet to Start</option>
                                            <option value="1">Live</option>
                                            <option value="2">Complete</option>
                                            <option value="3">Draw</option>
                                        </InputSelect>
                                        <ValidationMessage For="@(() => _resModel.match_status)" />
                                    }
                                }
                                else
                                {
                                    <InputSelect class="form-control" id="match_status" name="match_status" @bind-Value="_resModel.match_status">
                                        <option value="">Match Status</option>
                                        <option value="0">Yet to Start</option>
                                        <option value="1">Live</option>
                                        <option value="2">Complete</option>
                                        <option value="3">Draw</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => _resModel.match_status)" />
                                }
                            </div>

                        </div>
                    </div>
                    @if (resObject.ResultData.Count > 0)
                    {
                        <div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Update Schedule" value="Update Schedule" class="btn btn-primary" />
                        </div>
                    }
                    else
                    {
                        <div class="modal-footer">
                            <input type="submit" id="btnSubmit" title="Create Schedule" value="Create Schedule" class="btn btn-primary" />
                        </div>
                    }
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter] public string param { get; set; }

    ResultObject<List<MatchData>> resObject;
    MatchData _resModel;
    CBAdmin _CBAdmin;

    ResultObject<List<Tbl_Tournaments>> Tbl_Tournaments;
    ResultObject<List<Tbl_Teams>> Tbl_Teams;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _CBAdmin = new CBAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        _resModel = new MatchData();
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }

        resObject = _CBAdmin.viewMatch("viewMatchById", param);
        if (resObject.ResultData.Count > 0)
        {
            _resModel = resObject.ResultData.FirstOrDefault();
            Tbl_Teams = _CBAdmin.viewTeam("viewTeamByTournament", _resModel.tournament_id);
            _resModel.match_time = Convert.ToDateTime(_resModel.match_timeStr.ToString());
        }
        else
        {
            Tbl_Teams = new ResultObject<List<Tbl_Teams>>();
        }
        Tbl_Tournaments = _CBAdmin.viewTournament("viewTournment", "");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        //if(param == null)
        //{
        //    Tbl_Teams = new ResultObject<List<Tbl_Teams>>();
        //    _resModel = new MatchData();
        //    StateHasChanged();
        //}
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("datetimepast");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Match Schedule" });
    }

    void OnConfirm()
    {
        if (_resModel.away_team_id == _resModel.home_team_id)
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Home and Away teams should be different.");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
            ResultObject<string> res1 = new ResultObject<string>();
            res1 = _CBAdmin.addMatch("addMatch", _resModel);
            if (res1.ResultMessage == "Success")
            {
                if (resObject.ResultData.Count > 0)
                {
                    JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match updated successfully.");
                }
                else
                {
                    JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match added successfully.");
                }

                //resObject = new ResultObject<List<MatchData>>();
                //_resModel = new MatchData();
                navigationmanager.NavigateTo("viewmatch");
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
                resObject = new ResultObject<List<MatchData>>();
                _resModel = new MatchData();
                StateHasChanged();
            }
        }

    }


    private Task OnValueChanged(string value)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _resModel.tournament_id = value;
        // Assign the selected value to the Model
        Tbl_Teams = _CBAdmin.viewTeam("viewTeamByTournament", value);
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        return Task.CompletedTask;
    }

    protected void HandleInvalidSubmit()
    {

    }
}