﻿@layout LoginLayout;
@page "/verifyemail1/{id}"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager navigationmanager;

@inject NavigationManager NavigationManager;
@{
    if (retID == "success")
    {
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="error404 text-center">
                        <div class="container-fluid">
                            <div class="row">
                            </div>
                        </div>
                        <div class="container-fluid error-content">
                            <div class="">
                                <p class="error-text mb-4 mt-1">Your Email Id is Active!</p>
                                <a href="/" class="btn btn-primary mt-5" style="width:200px !important">Back to Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-image">
                        <div class="l-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (retID == "This Email Id Already Active")
    {
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="error404 text-center">
                        <div class="container-fluid">
                            <div class="row">
                            </div>
                        </div>
                        <div class="container-fluid error-content">
                            <div class="">
                                <p class="mini-text"></p>
                                <p class="error-text mb-4 mt-1">Your Email Id is Already Active!</p>
                                <a href="/" class="btn btn-primary mt-5" style="width:200px !important">Back to Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-image">
                        <div class="l-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (retID == "error")
    {
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="error404 text-center">
                        <div class="container-fluid">
                            <div class="row">
                            </div>
                        </div>
                        <div class="container-fluid error-content">
                            <div class="">
                                <p class="mini-text">Link Expired!</p>
                                <p class="error-text mb-4 mt-1">Your Email id Acive link has expired. Please try again!</p>
                                <a href="/" class="btn btn-primary mt-5" style="width:200px !important">Back to Login</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-image">
                        <div class="l-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public string id { get; set; }
    protected string retID = "";
    CBAdmin _CBAdmin;

    protected override void OnInitialized()
    {
        _CBAdmin = new CBAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        retID = _CBAdmin.emailVerify(id);
    }


    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

}