﻿@page "/forgotpassword"
@layout LoginLayout
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager NavigationManager;

<div class="form-form">
    <div class="form-form-wrap">
        <div class="form-container">
            <div class="form-content">
                <h1 class="">Password Recovery</h1>
                <p class="signup-link">Enter your email and instructions will sent to you!</p>
                <form class="text-left">
                    <EditForm Model=@userData OnValidSubmit=@Forgot OnInvalidSubmit="@HandleInvalidSubmit">
                        <DataAnnotationsValidator />
                        <div class="form">
                            <div id="email-field" class="field-wrapper input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                <InputText @bind-Value="userData.email"  maxlength="120" id="email" name="email" type="text" placeholder="Email"/>
                                <ValidationMessage For="@(() => userData.email)" />
                            </div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <a href="/" style="width:200px !important; color:blue;">Go Back to Login</a>
                                </div>
                                <div class="field-wrapper">
                                    <button type="submit" class="btn btn-primary" value="">Reset</button>
                                </div>
                            </div>

                        </div>
                    </EditForm>
                </form>
                <p class="terms-conditions">© 2020 Cricket24.Bet. All Rights Reserved. </p>

            </div>
        </div>
    </div>
</div>
<div class="form-image">
    <div class="l-image">
    </div>
</div>

@code {

    CBAdmin _CBAdmin;
    Tbl_Admin_User userData;
    protected override void OnInitialized()
    {
        _CBAdmin = new CBAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        userData = new Tbl_Admin_User();
        userData.password = "123456";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    protected void Forgot()
    {
        try
        {
            JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
            ResultObject<string> res = _CBAdmin.resetpassword("resetpassword", userData.email);
            JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
            if (res.Result == ResultType.Success)
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", res.ResultMessage);
                NavigationManager.NavigateTo(" ");
                userData = new Tbl_Admin_User();
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", res.ResultMessage);
            }
        }
        catch (Exception ex)
        {

        }
    }

    protected void HandleInvalidSubmit()
    {
    }

}
