﻿@page "/updatescore/{param}"
@inject IAdminMgr _IAdminMgr;
@inject NavigationManager navigationmanager;
@using CB_Utilities;
<div class="layout-px-spacing">
    <div class="account-settings-container layout-top-spacing">
        <div class="account-content">
            <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                <div class="row">
                    <EditForm Model="@_resModel" OnValidSubmit="@OnConfirm" OnInvalidSubmit="@HandleInvalidSubmit">
                        <div class=" col-xl-12 col-lg-12 col-md-12 layout-spacing">
                            <div id="general-info" class="section general-info">
                                <div class="info">
                                    <div class="row">
                                        <div class="col-lg-12 mx-auto">
                                            <div class="row">
                                                @if (_resModel.match_id != 0)
                                                {
                                                    <div class="col-xl-4 col-lg-12 col-md-4">
                                                        <div>
                                                            <div class="upload mt-1 pr-md-4" style="height:82px;">
                                                                <label style="font-weight:bold; font-size:large" for="fullName">Match - <span style="color:@_resModel.hometeamcolorcode">@_resModel.hometeamname</span> vs <span style="color:@_resModel.awayteamcolorcode">@_resModel.awayteamname</span></label>
                                                                <label style="font-weight:bold; font-size:small" for="fullName">@_resModel.match_date.Value.Date.ToString("dd-MM-yyyy") @timeformat at @_resModel.venue</label>
                                                                <label style="font-weight:bold; font-size:small" for="fullName">Match Status: @_resModel.match_status_Val</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-8 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                        <div class="form">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label style="font-weight:bold; font-size:medium" for="fullName">Home Team - <span style="color:@_resModel.hometeamcolorcode">@_resModel.hometeamname</span></label>&nbsp;&nbsp;<span style="font-weight:bold; font-size:medium">Score: @_resModel.home_team_runsStatic/@_resModel.home_team_wicketsStatic (@_resModel.home_team_oversStatic)</span>
                                                                        <div class="d-sm-flex d-block">
                                                                            <div class="form-group mr-2">
                                                                                @if (_resModel.innings != 1)
                                                                                {
                                                                                    <select @onchange="homeddl" class="form-control" id="exampleFormControlSelect1">
                                                                                        @if (_resModel.battingCk == null)
                                                                                        {
                                                                                            <option value="4">Select Batting/Bowling</option>
                                                                                            <option value="0">Batting</option>
                                                                                            <option value="1">Bowling</option>
                                                                                        }
                                                                                        else if (Homeddl == "0")
                                                                                        {
                                                                                            <option value="4">Select Batting/Bowling</option>
                                                                                            <option selected value="0">Batting</option>
                                                                                            <option value="1">Bowling</option>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value="4">Select Batting/Bowling</option>
                                                                                            <option value="0">Batting</option>
                                                                                            <option selected value="1">Bowling</option>
                                                                                        }
                                                                                    </select>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <select @onchange="homeddl" disabled class="form-control" id="exampleFormControlSelect1">
                                                                                        @if (Homeddl == "0")
                                                                                        {
                                                                                            <option selected value="0">Batting</option>
                                                                                            <option value="1">Bowling</option>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value="0">Batting</option>
                                                                                            <option selected value="1">Bowling</option>
                                                                                        }
                                                                                    </select>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label style="font-weight:bold; font-size:medium" class="dob-input">Away Team - <span style="color:@_resModel.awayteamcolorcode">@_resModel.awayteamname</span></label>&nbsp;&nbsp;<span style="font-weight:bold; font-size:medium">
                                                                        Score: @_resModel.away_team_runsStatic/@_resModel.away_team_wicketsStatic (@_resModel.away_team_oversStatic)
                                                                    </span>
                                                                    <div class="d-sm-flex d-block">
                                                                        <div class="form-group mr-2">
                                                                            <select disabled @bind="@Awayddl" class="form-control" id="exampleFormControlSelect1">
                                                                                @if (_resModel.battingCk == null)
                                                                                {
                                                                                    <option value="1">Select Batting/Bowling</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="1">Bowling</option>
                                                                                    <option value="0">Batting</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-content widget-content-area border-tab">

                                    <ul class="nav nav-tabs mt-3" id="border-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link  @enable1" id="border-home-tab" data-toggle="tab" href="#innings1" role="tab" aria-controls="border-home" aria-selected="true">
                                                First Innings
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link @enable2" id="border-profile-tab" data-toggle="tab" href="#innings2" role="tab" aria-controls="border-profile" aria-selected="false">
                                                Second Innings
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  @enable3" id="border-contact-tab" data-toggle="tab" href="#superover" role="tab" aria-controls="border-contact" aria-selected="false">
                                                Super Over
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content mb-4" id="border-tabsContent">
                                        <div class="tab-pane fade @active1" id="innings1" role="tabpanel" aria-labelledby="border-home-tab">

                                            <div class="row">
                                                <div class="col-lg-12 mx-auto">
                                                    <div class="row">
                                                        <div class="col-xl-12 padding_top_brokege pt-0">
                                                            <h5 class="float-left main_headings" style="margin-top:15px;font-weight:bold">Update Match Score</h5>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Runs</label>
                                                                    @if (Homeddl == "0")
                                                                    {
                                                                        <input id="runsHome" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.home_team_runs" name="runs" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input id="runsHome" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.away_team_runs" name="runs" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="wicket">Wicket</label>
                                                                    @if (Homeddl == "0")
                                                                    {
                                                                        <input id="wicketHome" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.home_team_wickets" name="Wicket" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input id="wicketHome" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.away_team_wickets" name="Wicket" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="overs">Overs</label>
                                                                    @if (Homeddl == "0")
                                                                    {
                                                                        <input id="oversHome" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.home_team_overs" name="Overs" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input id="oversHome" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.away_team_overs" name="Overs" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="innings2" role="tabpanel" aria-labelledby="border-profile-tab">
                                            <div class="row">
                                                <div class="col-lg-12 mx-auto">
                                                    <div class="row">
                                                        <div class="col-xl-12 padding_top_brokege pt-0">
                                                            <h5 class="float-left main_headings" style="margin-top:15px;font-weight:bold">Update Match Score</h5>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Runs</label>
                                                                    @if (Homeddl == "0")
                                                                    {
                                                                        <input id="runsHome2" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.home_team_runs" name="runs" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input id="runsHome2" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.away_team_runs" name="runs" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="wicket">Wicket</label>
                                                                    @if (Homeddl == "0")
                                                                    {
                                                                        <input id="wicketHome2" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.home_team_wickets" name="Wicket" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input id="wicketHome2" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.away_team_wickets" name="Wicket" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="overs">Overs</label>
                                                                    @if (Homeddl == "0")
                                                                    {
                                                                        <input id="oversHome2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.home_team_overs" name="Overs" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input id="oversHome2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.away_team_overs" name="Overs" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade @active3" id="superover" role="tabpanel" aria-labelledby="border-contact-tab">
                                            <div class="row">
                                                <div class="col-lg-12 mx-auto">
                                                    <div class="row">
                                                        <div class="col-xl-12 padding_top_brokege pt-0">
                                                            <h5 class="float-left main_headings" style="font-weight:bold">Super Over</h5>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Home Team Runs</label>
                                                                    <input id="superrunsHome" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.super_home_team_runs" name="runs" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Home Team Wicket</label>
                                                                    <input id="superwicketHome" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.super_home_team_wickets" name="runs" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Home Team Over</label>
                                                                    <input id="superoversHome" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.super_home_team_overs" name="runs" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Away Team Runs</label>
                                                                    <input id="superrunsHome2" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.super_away_team_runs" name="runs" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Away Team Wicket</label>
                                                                    <input id="superwicketHome2" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.super_away_team_wickets" name="runs" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4 col-lg-4">
                                                            <div class="widget-content widget-content-area p-0">
                                                                <div class="mb-4">
                                                                    <label for="runs">Away Team Over</label>
                                                                    <input id="superoversHome2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" @bind="_resModel.super_away_team_overs" name="runs" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (_resModel.match_status == 1)
                                    {
                                        <div class="modal-footer">
                                            <button type="button" id="btnSubmit" @onclick="endInnings" title="End Innings" class="btn btn-danger mb-2">End Innings</button>
                                            <input type="submit" id="btnSubmit" title="Update Score" value="Update" class="btn btn-primary" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>

</div>

@if (showingDialog)
{
    <InningsPopUp OnCancel="CancelDialog" OnConfirm="ConfirmDialog" updateScore="_resModel" />
}

@code{

    [Parameter] public string param { get; set; }
    CBAdmin _CBAdmin;

    ResultObject<updateScore> resObject;
    updateScore _resModel;

    string Homeddl { get; set; }
    string Awayddl { get; set; }

    string enable1 = "enabled";
    string enable2 = "disabled";
    string enable3 = "disabled";

    string active1 = "show active";
    string active3 = "";

    string enabledddl = "enabled";
    string timeformat = "";

    bool showingDialog = false;

    short? matchshatus = 0;
    short? matchInnngs = 0;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _CBAdmin = new CBAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        if (param != null)
        {
            param = param.Replace('_', '+');
            param = param.Replace('~', '/');
            param = Encryption.DecryptString(param, Encryption.passkey);
            if (param == "\0")
            {
                navigationmanager.NavigateTo("404");
            }
        }
        resObject = _CBAdmin.viewScore("viewScore", param);
        if (resObject.ResultMessage != "Data Not Found.")
        {
            _resModel = resObject.ResultData;
            Homeddl = _resModel.batting.ToString();
            updateinfo();
        }
        else
        {
            _resModel = new updateScore();
            Homeddl = "";
            Awayddl = "";
        }

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("spin", "runsHome");
        }
        if (Homeddl == "1")
        {
            JSRuntime.InvokeVoidAsync("destroyspin", "runsHome");
            JSRuntime.InvokeVoidAsync("spin1", "runsHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "runsHome");
            JSRuntime.InvokeVoidAsync("spin1", "runsHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "runsHome");
            JSRuntime.InvokeVoidAsync("spin1", "runsHome");

            JSRuntime.InvokeVoidAsync("destroyspin", "oversHome");
            JSRuntime.InvokeVoidAsync("spin1", "oversHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "oversHome");
            JSRuntime.InvokeVoidAsync("spin1", "oversHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "oversHome");
            JSRuntime.InvokeVoidAsync("spin1", "oversHome");

            JSRuntime.InvokeVoidAsync("destroyspin", "wicketHome");
            JSRuntime.InvokeVoidAsync("spin1", "wicketHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "wicketHome");
            JSRuntime.InvokeVoidAsync("spin1", "wicketHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "wicketHome");
            JSRuntime.InvokeVoidAsync("spin1", "wicketHome");
        }
        else
        {
            JSRuntime.InvokeVoidAsync("destroyspin", "runsHome");
            JSRuntime.InvokeVoidAsync("spin1", "runsHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "runsHome");
            JSRuntime.InvokeVoidAsync("spin1", "runsHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "runsHome");
            JSRuntime.InvokeVoidAsync("spin1", "runsHome");

            JSRuntime.InvokeVoidAsync("destroyspin", "oversHome");
            JSRuntime.InvokeVoidAsync("spin1", "oversHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "oversHome");
            JSRuntime.InvokeVoidAsync("spin1", "oversHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "oversHome");
            JSRuntime.InvokeVoidAsync("spin1", "oversHome");

            JSRuntime.InvokeVoidAsync("destroyspin", "wicketHome");
            JSRuntime.InvokeVoidAsync("spin1", "wicketHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "wicketHome");
            JSRuntime.InvokeVoidAsync("spin1", "wicketHome");
            JSRuntime.InvokeVoidAsync("destroyspin", "wicketHome");
            JSRuntime.InvokeVoidAsync("spin1", "wicketHome");
        }
        JSRuntime.InvokeVoidAsync("spinSuperover");
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "Update Score" });
    }

    async void OnConfirm()
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();

        if (_resModel.battingCk == null)
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Please Select Batting/Bowling");
        }
        else
        {

            if (_resModel.innings != 2)
            {
                if (Homeddl == "0")
                {
                    _resModel.home_team_runs = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "runsHome"));
                    _resModel.home_team_wickets = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "wicketHome"));
                    _resModel.home_team_overs = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "oversHome"));
                }
                else
                {
                    _resModel.away_team_runs = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "runsHome"));
                    _resModel.away_team_wickets = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "wicketHome"));
                    _resModel.away_team_overs = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "oversHome"));
                }
                if (_resModel.innings == 0)
                {
                    if (Homeddl == "0")
                    {
                        if (_resModel.away_team_runs <= 0)
                        {
                            _resModel.away_team_runs = null;
                        }
                        if (_resModel.away_team_wickets <= 0)
                        {
                            if (_resModel.away_team_overs <= 0)
                            {
                                _resModel.away_team_wickets = null;
                            }
                        }
                        if (_resModel.away_team_overs <= 0)
                        {
                            _resModel.away_team_overs = null;
                        }

                    }
                    else
                    {
                        if (_resModel.home_team_runs <= 0)
                        {
                            _resModel.home_team_runs = null;
                        }
                        if (_resModel.home_team_wickets <= 0)
                        {
                            if (_resModel.home_team_overs <= 0)
                            {
                                _resModel.home_team_wickets = null;
                            }
                        }
                        if (_resModel.home_team_overs <= 0)
                        {
                            _resModel.home_team_overs = null;
                        }
                    }
                }
                res1 = _CBAdmin.updaeScore("updaeScore", _resModel);
            }
            else
            {
                _resModel.super_home_team_runs = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "superrunsHome"));
                _resModel.super_home_team_wickets = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "superwicketHome"));
                _resModel.super_home_team_overs = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "superoversHome"));
                _resModel.super_away_team_runs = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "superrunsHome2"));
                _resModel.super_away_team_wickets = int.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "superwicketHome2"));
                _resModel.super_away_team_overs = decimal.Parse(await JSRuntime.InvokeAsync<string>("spinValue", "superoversHome2"));
                _resModel.superover_batting = _resModel.batting;
                res1 = _CBAdmin.updaeScore("updaeSuperOverScore", _resModel);
            }
            if (res1.ResultMessage == "Success")
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match Score updated successfully.");
                resObject = _CBAdmin.viewScore("viewScore", param);
                _resModel = resObject.ResultData;
                updateinfo();
                StateHasChanged();
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
        }
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    async void endInnings()
    {
        if (_resModel.battingCk == null)
        {
            await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Please Select Batting/Bowling");
        }
        else {
            if (_resModel.innings == 0)
            {
                bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to End Innings?");
                if (confirmed)
                {
                    await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
                    ResultObject<string> res1 = new ResultObject<string>();
                    if (_resModel.batting == 0)
                    {
                        _resModel.batting = 1;
                    }
                    else
                    {
                        _resModel.batting = 0;
                    }
                    res1 = _CBAdmin.updaeScore("updateInnings", _resModel);
                    if (res1.ResultMessage == "Success")
                    {
                        await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match Innings updated successfully.");
                        resObject = _CBAdmin.viewScore("viewScore", param);
                        _resModel = resObject.ResultData;
                        updateinfo();
                        StateHasChanged();
                    }
                    else
                    {
                        await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
                    }
                    await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
                }
            }
            else if (_resModel.innings == 1)
            {
                showingDialog = true;
            }
            else if (_resModel.innings == 2)
            {
                showingDialog = true;
            }
        }
    }

    protected void HandleInvalidSubmit()
    {

    }

    void homeddl(ChangeEventArgs e)
    {
        string value = e.Value.ToString();
        if (value == "4")
        {
            _resModel.battingCk = null;
        }
        else if (value == "0")
        {
            _resModel.batting = 0;
            Awayddl = "1";
            Homeddl = "0";
            _resModel.battingCk = short.Parse(e.Value.ToString());
        }
        else
        {
            Homeddl = "1";
            _resModel.batting = 1;
            Awayddl = "0";
            _resModel.battingCk = short.Parse(e.Value.ToString());
        }





    }

    void updateinfo()
    {
        if (_resModel.innings == 2)
        {
            Homeddl = _resModel.superover_batting.ToString();
        }
        else
        {
            Homeddl = _resModel.batting.ToString();
        }

        if (Homeddl == "0")
        {
            _resModel.batting = 0;
            Awayddl = "1";
        }
        else
        {
            Awayddl = "0";
        }

        if (_resModel.innings == 0)
        {
            enable1 = "active enabled";
            enable2 = "disabled";
            enable3 = "disabled";
            enabledddl = "enabled";
            active1 = "show active";
            active3 = "";
        }
        else if (_resModel.innings == 1)
        {
            enable1 = "disabled";
            enable2 = "active enabled";
            enable3 = "disabled";
            enabledddl = "disabled";
            active1 = "show active";
            active3 = "";
        }
        if (_resModel.innings == 2)
        {
            enable1 = "disabled";
            enable2 = "disabled";
            enable3 = "active enabled";
            enabledddl = "enabled";
            active1 = "";
            active3 = "show active";
        }

        DateTime time = DateTime.Today.Add((TimeSpan)_resModel.match_timeStr);
        timeformat = time.ToString("hh:mm tt");
        matchshatus = _resModel.match_status;
        matchInnngs = _resModel.innings;
    }

    void CancelDialog()
    {
        JSRuntime.InvokeVoidAsync("CSHideModel", "inningModel");
        showingDialog = false;
        if (matchshatus == 1)
        {
            if (matchInnngs == 1)
            {
                _resModel.innings = 1;
            }
            if (matchInnngs == 2)
            {
                _resModel.innings = 2;
            }
            _resModel.match_status = 1;
        }
        _resModel.winning_team = null;
    }

    void ConfirmDialog()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();

        if (_resModel.match_status == 4)
        {
            _resModel.winning_team = null;
            _resModel.match_status = 1;
            _resModel.innings = 2;
            res1 = _CBAdmin.updaeScore("updateMatchStaus", _resModel);
            if (res1.ResultMessage == "Success")
            {
                JSRuntime.InvokeVoidAsync("CSHideModel", "inningModel");
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match SuperOver updated successfully.");
                resObject = _CBAdmin.viewScore("viewScore", param);
                _resModel = resObject.ResultData;
                updateinfo();
                StateHasChanged();
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
        }
        else if (_resModel.match_status == 3)
        {
            _resModel.winning_team = null;
            _resModel.innings = 1;
            res1 = _CBAdmin.updaeScore("updateMatchStaus", _resModel);
            if (res1.ResultMessage == "Success")
            {
                JSRuntime.InvokeVoidAsync("CSHideModel", "inningModel");
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match Status updated successfully.");
                resObject = _CBAdmin.viewScore("viewScore", param);
                _resModel = resObject.ResultData;
                updateinfo();
                StateHasChanged();
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
        }
        else
        {
            res1 = _CBAdmin.updaeScore("updateMatchStaus", _resModel);
            if (res1.ResultMessage == "Success")
            {
                JSRuntime.InvokeVoidAsync("CSHideModel", "inningModel");
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match Status updated successfully.");
                resObject = _CBAdmin.viewScore("viewScore", param);
                _resModel = resObject.ResultData;
                updateinfo();
                StateHasChanged();
            }
            else
            {
                JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
        }
        showingDialog = false;

        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}
