﻿@page "/viewmatch"
@inject IAdminMgr _IAdminMgr;
@using CB_Utilities;
@using BlazorDateRangePicker;
<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Match Schedule</h4>
                        </div>
                        <div class="mb-8 col-lg-2" style="margin-top:5px;">
                            <label>Tournament Name: @resObject.ResultData.Select(x => x.tournament_name).FirstOrDefault() </label>
                        </div>
                        <div class="mb-8 col-lg-3">
                            <label>Select Team Name</label>
                            <select class="selectpicker form-control" data-dropup-auto="false" @onchange="teammatchchange" data-size="8" multiple data-live-search="true" data-selected-text-format="count" id="betmatchddl" show-tick>
                                @foreach (var tournamentdata in Tbl_Teams.ResultData)
                                {
                                    <option value="@tournamentdata.team_id">@tournamentdata.team_name</option>
                                }
                            </select>
                        </div>
                        <div class="mb-8 col-lg-3">
                            <label>Select Match Status</label>
                            <select class="selectpicker form-control" @onchange="teammatchchange" data-dropup-auto="false" data-size="8" multiple data-live-search="true" data-selected-text-format="count" id="betstatusddl" show-tick>
                                <option value="0">Yet to Start</option>
                                <option value="1">Live</option>
                                <option value="2">Complete</option>
                                <option value="3">Draw</option>
                            </select>
                        </div>
                        <div class="mb-8 col-lg-3" style="bottom:10px;">
                            <label>Select Date Range</label>
                            <DateRangePicker class="form-control form-control-sm" Drops="DropsType.Down" OnRangeSelect="OnRangeSelect"></DateRangePicker>
                        </div>
                        <div class="mb-8 col-lg-1">
                            <button style="margin-top: 25px; margin-left:-10px" @onclick="@(Onclose)" class="badge outline-badge-danger shadow-none">Clear Filter</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-4 mt-4">
                    <table id="viewmatchdt" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Match Number</th>
                                <th>Home Team</th>
                                <th>Away Team</th>
                                <th>Date & Time</th>
                                <th>Winning Team</th>
                                <th>Match Status</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (MatchData list in resObject.ResultData)
                                {
                                    <tr>
                                        <td>@list.MatchNumber</td>
                                        <td style="color:@list.hometeamcolorcode">@list.hometeam</td>
                                        <td style="color:@list.awayteamcolorcode">@list.awayteam</td>
                                        <td>@list.match_date.Value.Date.ToString("dd-MM-yyyy") @DateTime.Today.Add((TimeSpan)list.match_timeStr).ToString("hh:mm tt")</td>
                                        @if (@list.winning_team == "0")
                                        {
                                            <td style="color:@list.hometeamcolorcode">@list.hometeam</td>
                                        }
                                        else if (@list.winning_team == "1")
                                        {
                                            <td style="color:@list.awayteamcolorcode">@list.awayteam</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        <td>@list.match_status</td>
                                        @if (@list.status == 1)
                                        {
                                            <td><button @onclick="@(() => editstatus(list.match_id))" class="shadow-none badge outline-badge-primary" style="color:#8dbf42 !important; border: 1px solid #8dbf42 !important">Active</button></td>
                                        }
                                        else
                                        {
                                            <td><button @onclick="@(() => editstatus(list.match_id))" class="badge outline-badge-danger shadow-none">Inactive</button></td>
                                        }
                                        <td class="text-center">
                                            <div class="dropdown custom-dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                    @{
                                                        string encrypPass = Encryption.EncryptString(list.match_id.ToString(), Encryption.passkey);
                                                        encrypPass = encrypPass.Replace('+', '_');
                                                        encrypPass = encrypPass.Replace('/', '~');
                                                    }
                                                    <a class="dropdown-item" href="/updatescore/@encrypPass">Update Score</a>
                                                    <a class="dropdown-item" href="/updateodds/@encrypPass">Update Odds</a>
                                                    <a class="dropdown-item" href="/matchschedule/@encrypPass">Edit</a>
                                                    @*<a class="dropdown-item" @onclick="@(() => delete(list.match_id))" href="javascript:void(0);">Delete</a>*@
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<MatchData>> resObject;
    MatchData _MatchData;
    CBAdmin _CBAdmin;
    public string ckvalue { get; set; }
    bool checkbox;
    ResultObject<List<Tbl_Teams>> Tbl_Teams;

    string fromdate { get; set; }
    string todate { get; set; }
    DateTimeOffset? StartDate { get; set; } = DateTime.Today.AddMonths(-1);
    DateTimeOffset? EndDate { get; set; } = DateTime.Today.AddDays(1).AddTicks(-1);

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _CBAdmin = new CBAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _CBAdmin.viewMatch("viewMatch", "");
        _MatchData = new MatchData();
        if (resObject.ResultData.Count > 0)
        {
            Tbl_Teams = _CBAdmin.viewTeam("viewTeamByTournament", resObject.ResultData.Select(x => x.tournament_id).FirstOrDefault());
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("BindViewMatchdtexcel", "viewmatchdt", 3);
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Match" });
        JSRuntime.InvokeVoidAsync("CSBindingMultiSelecttext", "betmatchddl", "--Select--");
        JSRuntime.InvokeVoidAsync("CSBindingMultiSelecttext", "betstatusddl", "--Select--");
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    void editstatus(long id)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        ResultObject<string> res1 = new ResultObject<string>();
        _MatchData.match_id = id;
        res1 = _CBAdmin.addMatch("statusMatch", _MatchData);
        _MatchData = new MatchData();
        if (res1.ResultMessage == "Success")
        {
            resObject = _CBAdmin.viewMatch("viewMatch", "");
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match Status updated successfully");
            JSRuntime.InvokeVoidAsync("BindViewMatchdtexcel", "viewmatchdt", 3);
        }
        else
        {
            JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
        }
        StateHasChanged();
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }



    string matchstatus = "";
    string temaval = "";

    protected async void teammatchchange(ChangeEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        var status = await JSRuntime.InvokeAsync<string>("ddl", "betstatusddl");
        var match = await JSRuntime.InvokeAsync<string>("ddl", "betmatchddl");
        resObject = _CBAdmin.viewMatch("viewMatchStatubothDate", status.ToString(), match.ToString(), fromdate, todate);
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }


    public async void OnRangeSelect(DateRange range)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        fromdate = range.Start.Date.ToString("yyyy-MM-dd");
        todate = range.End.Date.ToString("yyyy-MM-dd");
        var status = await JSRuntime.InvokeAsync<string>("ddl", "betstatusddl");
        var match = await JSRuntime.InvokeAsync<string>("ddl", "betmatchddl");
        resObject = _CBAdmin.viewMatch("viewMatchStatubothDate", status.ToString(), match.ToString(), fromdate, todate);
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        //events.Add($"Range {StartDate} - {EndDate} selected");
    }


    void Onclose()
    {
        JSRuntime.InvokeVoidAsync("CSReloadFunc");
    }









    /// <summary>
    /// code not use
    /// </summary>
    /// <param name="e"></param>

    protected async void mathcstatuschange(ChangeEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        var result = await JSRuntime.InvokeAsync<string>("ddl", "betstatusddl");
        if (result == "")
        {
            resObject = _CBAdmin.viewMatch("viewMatch", "");
        }
        else
        {
            resObject = _CBAdmin.viewMatch("viewMatchStatus", result.ToString());
        }

        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }




    protected async void teamchange(ChangeEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        var result = await JSRuntime.InvokeAsync<string>("ddl", "betmatchddl");
        if (result == "")
        {
            resObject = _CBAdmin.viewMatch("viewMatchTeam", "");
        }
        else
        {
            resObject = _CBAdmin.viewMatch("viewTeamMatch", result.ToString());
        }

        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewmatchdt");
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }

    async void delete(long id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete match?");
        if (confirmed)
        {
            await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
            ResultObject<string> res1 = new ResultObject<string>();
            _MatchData.match_id = id;
            res1 = _CBAdmin.addMatch("deleteMatch", _MatchData);
            _MatchData = new MatchData();
            if (res1.ResultMessage == "Success")
            {
                resObject = _CBAdmin.viewMatch("viewMatch", "");
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Success", "Match Deleted successfully");
                await JSRuntime.InvokeVoidAsync("BindViewMatchdtexcel", "viewmatchdt", 3);
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("CSAlertMsg", "Error", "Some Error Occured");
            }
            StateHasChanged();
            await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        }
    }

}


