﻿@page "/betlist"
@inject IAdminMgr _IAdminMgr;
<div class="layout-px-spacing match-view">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>View Bet</h4>
                        </div>
                        <div class="mb-6 col-lg-4" id="betuserddl">
                            <select class="selectpicker form-control" data-dropup-auto="false" data-size="8" multiple data-live-search="true" data-selected-text-format="count" @onchange="getIpoid" id="ddlFaq" show-tick>
                                @foreach (var applist in resUser.ResultData)
                                {
                                    <option value="@applist.user_id">@applist.first_name (@applist.mobile)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="table-responsive mb-4 mt-4">
                    <table id="viewbetdt" class="multi-table table table-striped table-bordered table-hover non-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>User Name & Mobile</th>
                                <th>Order Id</th>
                                <th>Match Number</th>
                                <th>Match DateTime</th>
                                <th>Home/Away Team</th>
                                <th>Bets on Team</th>
                                <th>Stake</th>
                                <th>Odds</th>
                                <th>Estd. Return/Payout</th>
                                <th>Bet Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (ViewBetDtailsAdmin list in resObject.ResultData)
                                {
                                    <tr>
                                        <td>@list.first_name<br/>+@list.mobile</td>
                                        <td>@list.order_id</td>
                                        <td>@list.MatchNumber</td>
                                        <td>@list.match_date.Value.Date.ToString("dd-MM-yyyy") @list.match_time </td>
                                        <td><span style="color:@list.hometeamcolorcode">@list.hometeamname</span> / <span style="color:@list.awayteamcolorcode">@list.awayteamname</span>  </td>
                                        @if (list.selection_id == 1)
                                        {
                                            @if (list.won_status == 0)
                                            {
                                                <td><span style="color:@list.hometeamcolorcode">@list.hometeamname</span> (Open)</td>
                                            }
                                            else if (list.won_status == 1)
                                            {
                                                <td><span style="color:@list.hometeamcolorcode">@list.hometeamname</span> (Win)</td>
                                            }
                                            else
                                            {
                                                <td><span style="color:@list.hometeamcolorcode">@list.hometeamname</span> (Loss)</td>
                                            }
                                        }
                                        else
                                        {
                                            @if (list.won_status == 0)
                                            {
                                                <td><span style="color:@list.awayteamcolorcode">@list.awayteamname</span> (Open)</td>
                                            }
                                            else if (list.won_status == 1)
                                            {
                                                <td><span style="color:@list.awayteamcolorcode">@list.awayteamname</span> (Win)</td>
                                            }
                                            else
                                            {
                                                <td><span style="color:@list.awayteamcolorcode">@list.awayteamname</span> (Loss)</td>
                                            }
                                        }
                                        <td>@list.amount</td>
                                        <td>@list.odds</td>
                                        <td>@list.potential_payout</td>
                                        <td>@list.bet_Message</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string param { get; set; }
    ResultObject<List<ViewBetDtailsAdmin>> resObject;
    ResultObject<List<Tbl_Users>> resUser;
    ViewBetDtailsAdmin _MatchData;
    CBAdmin _CBAdmin;
    bool showingDialog = false;

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        _CBAdmin = new CBAdmin(iConfig, httpContextAccessor, _IAdminMgr);
        resObject = _CBAdmin.viewBet("viewbet", "");
        resUser = _CBAdmin.viewuser("viewuser", "");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
        JSRuntime.InvokeVoidAsync("BindViewBetdtexcel", "viewbetdt", 0);
        JSRuntime.InvokeAsync<string>("setTitle", new object[] { "View Bet" });
        JSRuntime.InvokeVoidAsync("CSBindingMultiSelect", "ddlFaq");
        //if (firstRender)
        //{
        //    JSRuntime.InvokeVoidAsync("CSBindingMultiSelect", "ddlFaq");
        //}
    }

    string userid = "";
    protected async void getIpoid(ChangeEventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeIn");
        var result = await JSRuntime.InvokeAsync<string>("ddl", "ddlFaq");
        userid = result.ToString();
        if (userid == "")
        {
            resObject = _CBAdmin.viewBet("viewbet", "");
        }
        else
        {
            resObject = _CBAdmin.viewBet("viewbetbyid", result.ToString());
        }

        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewbetdt");
        await JSRuntime.InvokeVoidAsync("CSBindDataTableRemove", "viewbetdt");
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("CSLoaderFadeOut");
    }
}